{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('acces_smartsheet') }}" class="btn btn-block btn-info">Ajouter ligne a smartsheet</a>
            </div>
        </div>
    </section>
{%  endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
         alert("Hello");
        });
    </script>
{% endlbock %}